All_Docs/Flows/flows_rk.json
[{"id":"20afa04a.0a135","type":"tab","label":"camera","disabled":false,"info":""},{"id":"314bc947.1c6a86","type":"http in","z":"20afa04a.0a135","name":"","url":"/upload","method":"get","upload":false,"swaggerDoc":"","x":130,"y":100,"wires":[["7e720715.708ec8"]]},{"id":"7e720715.708ec8","type":"template","z":"20afa04a.0a135","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n    <title>Select File</title>\n    <script type=\"text/javascript\">\n    function fileSelected() {\n        var count = document.getElementById('fileToUpload').files.length;\n              document.getElementById('details').innerHTML = \"\";\n              for (var index = 0; index < count; index ++)\n              {\n                     var file = document.getElementById('fileToUpload').files[index];\n                     var fileSize = 0;\n                     if (file.size > 1024 * 1024)\n                            fileSize = (Math.round(file.size * 100 / (1024 * 1024)) / 100).toString() + 'MB';\n                     else\n                            fileSize = (Math.round(file.size * 100 / 1024) / 100).toString() + 'KB';\n                     document.getElementById('details').innerHTML += 'Name: ' + file.name + '<br>Size: ' + fileSize + '<br>Type: ' + file.type;\n                     document.getElementById('details').innerHTML += '<p>';\n              }\n      }</script></head>\n<body>\n<h1>Select and Upload File:</h1>\n\n<form action=\"/uploadsimple_post\" method=\"POST\" enctype=\"multipart/form-data\">\n    <div>\n      <label for=\"fileToUpload\">Select and Upload File</label><br />\n      <input type=\"file\" name=\"fileToUpload\" id=\"fileToUpload\" onchange=\"fileSelected();\"/>\n    </div>\n    <div id=\"details\"></div>\n    <input type=\"submit\" value=\"Submit\">\n    \n</form></body></html>","output":"str","x":310,"y":100,"wires":[["4e050603.2bda98"]]},{"id":"4e050603.2bda98","type":"http response","z":"20afa04a.0a135","name":"","x":470,"y":100,"wires":[]},{"id":"e8b2c3c9.7b727","type":"template","z":"20afa04a.0a135","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<p>File {{originalname}} uploaded !</p>\n\n<h2>Contents:</h2>\n\n<pre>\n{{{payload}}}\n</pre>\n<h2>Are you sure, you wanna upload this?</h2>\n<input type=\"button\" onclick=\"location.href='https://node-red-nnyrs.mybluemix.net/upload';\" value=\"No, upload again\" />\n<form method=\"POST\" action=\"yes\">\n    <input type=\"submit\" value=\"Yes\" />\n</form>\n","output":"str","x":780,"y":220,"wires":[["f7f948c8.b45dc8"]]},{"id":"5c88e47.8bd851c","type":"function","z":"20afa04a.0a135","name":"Covert to link","func":"if (msg.req.files[0].mimetype.includes('image')) {\n    msg.payload = `<img src=\"data:image/gif;base64,${msg.payload.toString('base64')}\">`;\n} \nelse if (msg.req.files[0].mimetype.includes('pdf')) {\n    msg.payload = `<embed width=\"700px\" height=\"700px\" src=\"data:application/pdf;base64,${msg.payload.toString('base64')}\">`;\n        \n    // msg.payload = `\"Content-Type: application/pdf ${msg.payload}\"`;\n}\nelse {\n    msg.payload = msg.payload.toString();\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":220,"wires":[["e8b2c3c9.7b727","a56a92da.2cbb5"]]},{"id":"9667a4f6.a4d7d8","type":"http in","z":"20afa04a.0a135","name":"","url":"/uploadsimple_post","method":"post","upload":true,"swaggerDoc":"","x":170,"y":220,"wires":[["2c3bf29c.1e20ae","a909340.f763ec8"]]},{"id":"f7f948c8.b45dc8","type":"http response","z":"20afa04a.0a135","name":"","statusCode":"","headers":{},"x":910,"y":220,"wires":[]},{"id":"2c3bf29c.1e20ae","type":"change","z":"20afa04a.0a135","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"req.files[0].buffer","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":220,"wires":[["5c88e47.8bd851c"]]},{"id":"13996ff8.b6777","type":"http in","z":"20afa04a.0a135","name":"","url":"/yes","method":"post","upload":true,"swaggerDoc":"","x":110,"y":280,"wires":[["e74f92ce.daab4"]]},{"id":"a909340.f763ec8","type":"function","z":"20afa04a.0a135","name":"Set doc","func":"flow.set(\"doc\",msg.req.files[0])\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":180,"wires":[[]]},{"id":"e74f92ce.daab4","type":"function","z":"20afa04a.0a135","name":"Get doc","func":"msg.rk = flow.get('doc')\nmsg.rk.main = flow.get('main')\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":280,"wires":[["9959638f.5adb3"]]},{"id":"90eda567.b33e08","type":"cloudant out","z":"20afa04a.0a135","name":"","cloudant":"fa3b1aa6.22a808","database":"prescriptions","service":"node-red-nnyrs-cloudant-1590485249514-78232","payonly":true,"operation":"insert","x":430,"y":340,"wires":[]},{"id":"9959638f.5adb3","type":"function","z":"20afa04a.0a135","name":"Save to db","func":"msg.payload = msg.rk\n// msg.payload._id = msg.rk.originalname\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":280,"wires":[["90eda567.b33e08","86906aa4.74b798"]]},{"id":"7aaa1512.55810c","type":"cloudant in","z":"20afa04a.0a135","name":"See all docs","cloudant":"fa3b1aa6.22a808","database":"prescriptions","service":"node-red-nnyrs-cloudant-1590485249514-78232","search":"_all_","design":"","index":"","x":350,"y":400,"wires":[["3ecc56a8.cf5f5a"]]},{"id":"86906aa4.74b798","type":"template","z":"20afa04a.0a135","name":"Redirect","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n  <head>\n    <meta http-equiv=\"refresh\" content=\"3; url='https://node-red-nnyrs.mybluemix.net/ui'\" />\n  </head>\n  <body>\n    <h1>Redirecting to main page</h1>\n  </body>\n</html>","output":"str","x":600,"y":280,"wires":[["3cb3aba4.8ef004"]]},{"id":"3cb3aba4.8ef004","type":"http response","z":"20afa04a.0a135","name":"","statusCode":"","headers":{},"x":740,"y":280,"wires":[]},{"id":"d320c1d4.63dd","type":"http in","z":"20afa04a.0a135","name":"","url":"/seeallmed","method":"get","upload":false,"swaggerDoc":"","x":150,"y":400,"wires":[["7aaa1512.55810c"]]},{"id":"6f01fb58.9f20c4","type":"http response","z":"20afa04a.0a135","name":"List of documents","x":990,"y":400,"wires":[]},{"id":"a56a92da.2cbb5","type":"function","z":"20afa04a.0a135","name":"Set url","func":"flow.set(\"main\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":180,"wires":[[]]},{"id":"3ecc56a8.cf5f5a","type":"function","z":"20afa04a.0a135","name":"For loop to dispay all docs","func":"msg.rk=[];msg.text=[]\nfor(var i=0;i<msg.payload.length;i++){\n    msg.rk[i] = msg.payload[i].main  \n    msg.text[i] = msg.payload[i].originalname\n    \n    msg.payload[i] =\"<br>\" + msg.text[i] + \"<br>\" + msg.rk[i] + \"<br><br><br>\" \n    \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":400,"wires":[["235cc586.3dddea"]]},{"id":"235cc586.3dddea","type":"template","z":"20afa04a.0a135","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<title>Medical Prescriptions</title>\n<h1>Below are some requests</h1>\n{{{payload}}}","output":"str","x":760,"y":400,"wires":[["6f01fb58.9f20c4"]]},{"id":"6b1e0f94.4d351","type":"http in","z":"20afa04a.0a135","name":"","url":"/uploadcam","method":"post","upload":true,"swaggerDoc":"","x":160,"y":460,"wires":[["1b3e93e4.2709cc"]]},{"id":"1b3e93e4.2709cc","type":"http response","z":"20afa04a.0a135","name":"","statusCode":"","headers":{},"x":330,"y":460,"wires":[]},{"id":"672e0199.adf16","type":"http in","z":"20afa04a.0a135","name":"","url":"/cam","method":"get","upload":false,"swaggerDoc":"","x":140,"y":580,"wires":[["ec5d492e.3ea4b8"]]},{"id":"ec5d492e.3ea4b8","type":"template","z":"20afa04a.0a135","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n    <meta charset='utf-8'>\n    <meta http-equiv='X-UA-Compatible' content='IE=edge'>\n    <title>Take Photo</title>\n    <meta name='viewport' content='width=device-width, initial-scale=1'>\n    <!--<link rel=\"icon\" href=\"data:;base64,iVBORw0KGgo=\">-->\n    <link rel=\"stylesheet\" href=\"https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css\">\n    <link href=\"https://fonts.googleapis.com/icon?family=Material+Icons\" rel=\"stylesheet\">\n    <script src=\"//code.jquery.com/jquery-3.3.1.min.js\"></script>  \n    <script type=\"text/javascript\" src=\"https://cdn.jsdelivr.net/gh/rishabh-karmakar/webcam-easy@master/webcam-easy-k.js\"></script>\n    <script src=\"https://unpkg.com/jspdf@latest/dist/jspdf.min.js\"></script>\n    <script src='https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.59/pdfmake.min.js'></script>\n  <script src='https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.59/vfs_fonts.js'></script>\n    <style>\n        #webcam-app {\n  background-image: url('https://github.com/rishabh-karmakar/webcam-easy/blob/master/demo/images/background.jpg');\n  background-position: center center;\n  background-repeat: no-repeat;\n  background-size: cover;\n  background-color: black;\n  width: 100vw;\n  height: 100vh;\n}\n\n.webcam-container{\n    height: 100vh;\n    width: 100vw;\n    background-color: black;\n}\n\n#background-container {\n    height: 100vh;\n    width: 100vw;\n}\n\n@media screen and (min-width: 768px) {\n    .webcam-container {\n        background-attachment: fixed;\n    }\n }\n\n.form-control.webcam-start{\n    position: relative;\n    background: black;\n    opacity: 0.8;\n    padding: 10px 20px;\n    border: none;\n    color: white;\n    text-shadow: 1px 1px #000;\n    font-size: 1.2rem;\n    width: 350px;\n    height: 55px;\n    z-index: 9999;\n    top: 45%;\n    left: 0;\n    right: 0;\n    margin: auto;\n}\n\n.form-control.webcam-on {\n  position: fixed;\n  top: 10vh;\n  bottom: auto;\n  left: 0px;\n  right: auto;\n  transition: all 100ms;\n  width: 145px!important;\n}\n.form-control.webcam-off {\n    transition: all 100ms;\n}\n  \n\n  .form-switch {\n    display: inline-block;\n    cursor: pointer;\n    -webkit-tap-highlight-color: transparent;\n  }\n  \n  .form-switch i {\n    position: relative;\n    display: inline-block;\n    margin-right: .5rem;\n    width: 60px;\n    height: 30px;\n    background-color: #e6e6e6;\n    border-radius: 25px;\n    vertical-align: text-bottom;\n    transition: all 0.3s linear;\n  }\n  \n  .form-switch i::before {\n    content: \"\";\n    position: absolute;\n    left: 0;\n    width: 56px;\n    height: 25px;\n    background-color: #fff;\n    border-radius: 15px;\n    transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);\n    transition: all 0.25s linear;\n  }\n  \n  .form-switch i::after {\n    content: \"\";\n    position: absolute;\n    left: 0;\n    width: 26px;\n    height: 26px;\n    background-color: #fff;\n    border: 1px solid grey;\n    border-radius: 15px;\n    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);\n    transform: translate3d(2px, 2px, 0);\n    transition: all 0.2s ease-in-out;\n  }\n  \n  .form-switch:active i::after {\n    width: 60px;\n    transform: translate3d(2px, 2px, 0);\n  }\n  \n  .form-switch:active input:checked + i::after { transform: translate3d(16px, 2px, 0); }\n  \n  .form-switch input { display: none; }\n  \n  .form-switch input:checked + i { background-color: #4BD763; }\n  \n  .form-switch input:checked + i::before { transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0); }\n  \n  .form-switch input:checked + i::after { transform: translate3d(30px, 2px, 0); }\n\n  .form-switch input:disabled + i { background-color: #eeeeee; cursor: not-allowed; }\n\n  .form-switch input:disabled + i::after {\n    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.10);\n  }\n\n\n  .app-panel{\n    height: 100vh;\n    width: 100vw;\n    text-align: center;\n    background-color: black;\n  }\n\n  #webcam{\n    display: block;\n    position: relative;\n    width: auto;\n    height: 100vh;\n    z-index: 999;\n    pointer-events: none;\n    margin: auto;\n  }\n\n  .md-modal {\n    margin: auto;\n      position: fixed;\n      top: 0;\n      left: 0;\n      right: 0;\n      width: 100vw;\n      height: 100vh;\n      z-index: 2000;\n      visibility: hidden;\n      -webkit-backface-visibility: hidden;\n      -moz-backface-visibility: hidden;\n      backface-visibility: hidden;\n  }\n  \n  .md-show {\n      visibility: visible;\n  }\n  \n  .md-overlay {\n      position: fixed;\n      width: 100%;\n      height: 100%;\n      visibility: hidden;\n      top: 0;\n      left: 0;\n      z-index: 1000;\n      opacity: 0;\n      background: rgba(#e4f0e3, 0.8);\n      -webkit-transition: all 0.3s;\n      -moz-transition: all 0.3s;\n      transition: all 0.3s;\n  }\n  \n  .md-show ~ .md-overlay {\n      opacity: 1;\n      visibility: visible;\n  }\n  \n  .md-effect-12 .md-content {\n      -webkit-transform: scale(0.8);\n      -moz-transform: scale(0.8);\n      -ms-transform: scale(0.8);\n      transform: scale(0.8);\n      opacity: 0;\n      -webkit-transition: all 0.3s;\n      -moz-transition: all 0.3s;\n      transition: all 0.3s;\n  }\n  \n  .md-show.md-effect-12 ~ .md-overlay {\n      background-color: #e4f0e3;\n  } \n  \n  .md-effect-12 .md-content h3,\n  .md-effect-12 .md-content {\n      background: transparent;\n  }\n  \n  .md-show.md-effect-12 .md-content {\n      -webkit-transform: scale(1);\n      -moz-transform: scale(1);\n      -ms-transform: scale(1);\n      transform: scale(1);\n      opacity: 1;\n  }\n\n #errorMsg {\n     position: fixed;\n     top: 22vh;\n     left: 0;\n     padding: 20px;\n     z-index: 999999;\n }\n\n @media screen and (min-width: 768px) {\n    #errorMsg {\n        position: fixed;\n        top: 32vh;\n        left: 20vw;\n        padding: 20px;\n        z-index: 999999;\n    }\n }\n\n #cameraFlip {\n  width: 70px;\n    height: 55px;\n    margin-left: 40px;\n    margin-top: -10px;\n    position: absolute;\n    cursor: pointer;\n    background-color: black;\n    background-position: center center;\n    background-repeat: no-repeat;\n    background-image: url('https://github.com/rishabh-karmakar/webcam-easy/blob/master/demo/images/camera_flip_white.png');\n    background-size: cover;\n}\n\n.cameraControls {\n  position: absolute;\n  bottom: 10vh;\n  width: 100%;\n  z-index: 99999;\n  background: transparent;\n  opacity: 0.7;\n  padding: 10px;\n}\n\n\n.material-icons{\n  width: 100px;\n  font-size: 50px !important;\n  color: white;\n  width: 80px;\n  height: 80px;\n  background-color: black;\n  border-radius: 50%;\n  padding-top: 15px;\n  margin: 0 10px;\n}\n\n.flash{ \n  position:fixed; \n  top:0;\n  left:0;\n  width:100%;\n  height:100%;\n  background-color:#fff;\n  z-index: 999999;\n}\n\n#canvas{\n  background-color: transparent;\n  position: absolute;\n  width: auto;\n  height: 100vh;\n  z-index: 9999;\n  margin: auto;\n  top: 0;\n  left: 0;\n  right: 0;\n  margin-left: auto;\n  margin-right: auto;\n}\n\n@media screen and (max-width: 420px) {\n  .form-control.webcam-start{\n    width: 300px;\n  }\n}\n\n@media screen and (max-width: 767px) {\n  .cameraControls {\n    bottom: 25vh;\n  }\n}\n\n@media screen and (min-width: 420px) and (max-width: 767px) {\n  .form-control.webcam-on {\n    top: 17vh;\n    left: 0;\n  }\n}\n\n@media screen and (min-width: 1024px) {\n  .form-control.webcam-on {\n    top: 16vh;\n    left: 8vw;\n  }\n}\n\n    </style>\n    \n    \n\n</head>\n<body>\n    <main id=\"webcam-app\">\n        <div class=\"form-control webcam-start\" id=\"webcam-control\">\n                <label class=\"form-switch\">\n                <input type=\"checkbox\" id=\"webcam-switch\">\n                <i></i> \n                <span id=\"webcam-caption\">Click to Start Camera</span>\n                </label>      \n                <button id=\"cameraFlip\" class=\"btn d-none\"></button>                  \n        </div>\n        \n        <div id=\"errorMsg\" class=\"col-12 col-md-6 alert-danger d-none\">\n            Fail to start camera, please allow permision to access camera. <br/>\n            If you are browsing through social media built in browsers, you would need to open the page in Sarafi (iPhone)/ Chrome (Android)\n            <button id=\"closeError\" class=\"btn btn-primary ml-3\">OK</button>\n        </div>\n        <div class=\"md-modal md-effect-12\">\n            <div id=\"app-panel\" class=\"app-panel md-content row p-0 m-0\">     \n                <div id=\"webcam-container\" class=\"webcam-container col-12 d-none p-0 m-0\">\n                    <video id=\"webcam\" autoplay playsinline width=\"640\" height=\"480\"></video>\n                    <canvas id=\"canvas\" class=\"d-none\"></canvas>\n                    <div class=\"flash\"></div>\n                    <audio id=\"snapSound\" src=\"https://github.com/rishabh-karmakar/webcam-easy/blob/master/demo/audio/snap.wav\" preload = \"auto\"></audio>\n                </div>\n                <div id=\"cameraControls\" class=\"cameraControls\">\n                    <a href=\"#\" id=\"exit-app\" title=\"Exit App\" class=\"d-none\"><i class=\"material-icons\">exit_to_app</i></a>\n                    <a href=\"#\" id=\"take-photo\" title=\"Take Photo\"><i class=\"material-icons\">camera_alt</i></a>\n                    <a href=\"https://node-red-nnyrs.mybluemix.net/uploadcam\" id=\"download-photo\" download = \"selfie.png\" target=\"_blank\" title=\"Save Photo\" class=\"d-none\"><i class=\"material-icons\">check_box</i></a>  \n                    <a href=\"#\" id=\"resume-camera\"  title=\"Resume Camera\" class=\"d-none\"><i class=\"material-icons\">camera_front</i></a>\n                </div>\n            </div>        \n        </div>\n        <div class=\"md-overlay\"></div>\n    </main>\n    <script>\n    const webcamElement = document.getElementById('webcam');\n\nconst canvasElement = document.getElementById('canvas');\n\nconst snapSoundElement = document.getElementById('snapSound');\n\nconst webcam = new Webcam(webcamElement, 'user', canvasElement, snapSoundElement);\n\n// var xhr = new XMLHttpRequest();\n// xhr.open(\"POST\", yourUrl, true);\n// xhr.setRequestHeader('Content-Type', 'application/json');\n// xhr.send(JSON.stringify({\n//     value: value\n// }));\n$(\"#download-photo\").click(function(event){\n  event.preventDefault(); // don't \"execute\" the link\n    // let picture = webcam.snap();\n  var $form = $(\"<form action='/uploadcam' method='post' enctype='multipart/form-data' target='_blank'>\" +\n    // \"<input type='file' name='fileToUpload' id='fileToUpload' value = onchange=\"fileSelected();\"/>\n    \"<input type='hidden' name = 'fileToUpload' value='<img src = \"+_image+\"' />\" +\n    \"<input type='submit' />\" + \n    \"</form>\").appendTo($('body'));\n\n  $form.submit();\n});\n\n\n// window.onload=function() {\n//   document.getElementById(\"download-photo\").onclick=function() {\n//      var myForm = document.createElement(\"form\");\n//      alert(1)\n//      myForm.action=\"/uploadcam\";// the href of the link\n//      myForm.enctype='multipart/form-data';\n//      alert(2)\n//      myForm.target='_blank';\n//      myForm.method=\"POST\";\n//      alert(5)\n//      myForm.submit();\n//      alert(4)\n//      return false; // cancel the actual link\n//   }\n//  }\n\n$(\"#webcam-switch\").change(function () {\n    if(this.checked){\n        $('.md-modal').addClass('md-show');\n        webcam.start()\n            .then(result =>{\n               cameraStarted();\n               console.log(\"webcam started\");\n            })\n            .catch(err => {\n                displayError();\n            });\n    }\n    else {        \n        cameraStopped();\n        webcam.stop();\n        console.log(\"webcam stopped\");\n    }        \n});\n\n$('#cameraFlip').click(function() {\n    webcam.flip();\n    webcam.start();  \n});\n\n$('#closeError').click(function() {\n    $(\"#webcam-switch\").prop('checked', false).change();\n});\n\nfunction displayError(err = ''){\n    if(err!=''){\n        $(\"#errorMsg\").html(err);\n    }\n    $(\"#errorMsg\").removeClass(\"d-none\");\n}\n\nfunction cameraStarted(){\n    $(\"#errorMsg\").addClass(\"d-none\");\n    $('.flash').hide();\n    $(\"#webcam-caption\").html(\"on\");\n    $(\"#webcam-control\").removeClass(\"webcam-off\");\n    $(\"#webcam-control\").addClass(\"webcam-on\");\n    $(\".webcam-container\").removeClass(\"d-none\");\n    if( webcam.webcamList.length > 1){\n        $(\"#cameraFlip\").removeClass('d-none');\n    }\n    $(\"#wpfront-scroll-top-container\").addClass(\"d-none\");\n    window.scrollTo(0, 0); \n    $('body').css('overflow-y','hidden');\n}\n\nfunction cameraStopped(){\n    $(\"#errorMsg\").addClass(\"d-none\");\n    $(\"#wpfront-scroll-top-container\").removeClass(\"d-none\");\n    $(\"#webcam-control\").removeClass(\"webcam-on\");\n    $(\"#webcam-control\").addClass(\"webcam-off\");\n    $(\"#cameraFlip\").addClass('d-none');\n    $(\".webcam-container\").addClass(\"d-none\");\n    $(\"#webcam-caption\").html(\"Click to Start Camera\");\n    $('.md-modal').removeClass('md-show');\n}\n\n\n$(\"#take-photo\").click(function () {\n    beforeTakePhoto();\n    let picture = webcam.snap();\n    window._image = picture;\n    alert(_image);\n    document.querySelector('#download-photo').href = picture;\n    afterTakePhoto();\n});\n\nfunction beforeTakePhoto(){\n    $('.flash')\n        .show() \n        .animate({opacity: 0.3}, 500) \n        .fadeOut(500)\n        .css({'opacity': 0.7});\n    window.scrollTo(0, 0); \n    $('#webcam-control').addClass('d-none');\n    $('#cameraControls').addClass('d-none');\n}\n\nfunction afterTakePhoto(){\n    webcam.stop();\n    \n    $('#canvas').removeClass('d-none');\n    $('#take-photo').addClass('d-none');\n    $('#exit-app').removeClass('d-none');\n    $('#download-photo').removeClass('d-none');\n    $('#resume-camera').removeClass('d-none');\n    $('#cameraControls').removeClass('d-none');\n}\n\nfunction removeCapture(){\n    $('#canvas').addClass('d-none');\n    $('#webcam-control').removeClass('d-none');\n    $('#cameraControls').removeClass('d-none');\n    $('#take-photo').removeClass('d-none');\n    $('#exit-app').addClass('d-none');\n    $('#download-photo').addClass('d-none');\n    $('#resume-camera').addClass('d-none');\n}\n\n$(\"#resume-camera\").click(function () {\n    webcam.stream()\n        .then(facingMode =>{\n            removeCapture();\n        });\n});\n\n$(\"#exit-app\").click(function () {\n    removeCapture();\n    $(\"#webcam-switch\").prop(\"checked\", false).change();\n});\n</script>\n\n</body>\n</html>","output":"str","x":320,"y":580,"wires":[["6e64e7ca.c17108"]]},{"id":"6e64e7ca.c17108","type":"http response","z":"20afa04a.0a135","name":"","statusCode":"","headers":{},"x":500,"y":580,"wires":[]},{"id":"e1ed239c.9afcc","type":"ui_button","z":"20afa04a.0a135","name":"","group":"31669b0d.ce3c24","order":0,"width":0,"height":0,"passthru":false,"label":"<a href = \"https://node-red-nnyrs.mybluemix.net/cam\">Take Photo</a>","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":910,"y":500,"wires":[[]]},{"id":"2c9df091.4be4e","type":"ui_button","z":"20afa04a.0a135","name":"","group":"31669b0d.ce3c24","order":1,"width":0,"height":0,"passthru":false,"label":"<a href = \"https://node-red-nnyrs.mybluemix.net/upload\">File Upload</a>","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":920,"y":560,"wires":[[]]},{"id":"fa3b1aa6.22a808","type":"cloudant","z":"","host":"myaccountname.cloudant.com","name":"My Cloudant account"},{"id":"31669b0d.ce3c24","type":"ui_group","z":"","name":"Presciption Upload","tab":"ea130cf6.f406c","order":1,"disp":true,"width":"6","collapse":false},{"id":"ea130cf6.f406c","type":"ui_tab","z":"","name":"Medical","icon":"dashboard","disabled":false,"hidden":false}]