All_Docs/Flows/Inventory.json
[{"id":"fa5ca912.58e4d8","type":"tab","label":"Inventory","disabled":false,"info":""},{"id":"48d4d1e.d8e393","type":"http in","z":"fa5ca912.58e4d8","name":"","url":"/inventory","method":"get","upload":false,"swaggerDoc":"","x":180,"y":60,"wires":[["789a8479.edc5ac"]]},{"id":"40a4db78.f071a4","type":"http in","z":"fa5ca912.58e4d8","name":"","url":"/inventorypost","method":"post","upload":false,"swaggerDoc":"","x":90,"y":280,"wires":[["50e93691.988c48","702b7240.ea613c","4a11d70.13e2f28"]]},{"id":"789a8479.edc5ac","type":"function","z":"fa5ca912.58e4d8","name":"msg.url = \"inventorypost\";","func":"msg.url = \"inventorypost\";\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":60,"wires":[["7e730cf6.9dd414"]]},{"id":"83dbbd41.7a24b","type":"http response","z":"fa5ca912.58e4d8","name":"","statusCode":"","headers":{},"x":890,"y":320,"wires":[]},{"id":"86a690bd.002c4","type":"template","z":"fa5ca912.58e4d8","name":"CSS","field":"payload.style","fieldType":"msg","format":"html","syntax":"mustache","template":"body {\n  background:url('http://cdn.wallpapersafari.com/13/6/Mpsg2b.jpg');\n  margin:0px;\n  font-family: 'Ubuntu', sans-serif;\n\tbackground-size: 100% 110%;\n}\nh1, h2, h3, h4, h5, h6, a {\n  margin:0; padding:0;\n}\n.login {\n  margin:0 auto;\n  max-width:500px;\n}\n.login-header {\n  color:#fff;\n  text-align:center;\n  font-size:300%;\n}\n/* .login-header h1 {\n   text-shadow: 0px 5px 15px #000; */\n}\n.login-form {\n  border:.5px solid #fff;\n  background:#4facff;\n  border-radius:10px;\n  box-shadow:0px 0px 10px #000;\n}\n.login-form h3 {\n  text-align:left;\n  margin-left:40px;\n  color:#fff;\n}\n.login-form {\n  box-sizing:border-box;\n  padding-top:15px;\n\tpadding-bottom:10%;\n  margin:5% auto;\n  text-align:center;\n}\n.login input[type=\"text\"],.login input[type=\"email\"],\n.login input[type=\"text\"] {\n  max-width:400px;\n\twidth: 80%;\n  line-height:3em;\n  font-family: 'Ubuntu', sans-serif;\n  margin:1em 2em;\n  border-radius:5px;\n  border:2px solid #f2f2f2;\n  outline:none;\n  padding-left:10px;\n}\n.login-form input[type=\"submit\"] {\n  height:30px;\n  width:100px;\n  background:#fff;\n  border:1px solid #f2f2f2;\n  border-radius:20px;\n  color: slategrey;\n  text-transform:uppercase;\n  font-family: 'Ubuntu', sans-serif;\n  cursor:pointer;\n}\n.sign-up{\n  color:#f2f2f2;\n  margin-left:-70%;\n  cursor:pointer;\n  text-decoration:underline;\n}\n\n/*Media Querie*/\n@media only screen and (min-width : 150px) and (max-width : 530px){\n  .login-form h3 {\n    text-align:center;\n    margin:0;\n  }\n \n  .login-button {\n    margin-bottom:10px;\n  }\n}\n","x":570,"y":160,"wires":[["b35e72bf.dd5a2","163dbae1.b3ace5"]]},{"id":"7e730cf6.9dd414","type":"template","z":"fa5ca912.58e4d8","name":"JavaScript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"plain","template":"$(document).ready(function(e) {\n    \n    $(\"form[ajax=true]\").submit(function(e) {\n        \n        e.preventDefault();\n        \n        var form_data = $(this).serialize();\n        var form_url = $(this).attr(\"action\");\n        var form_method = $(this).attr(\"method\").toUpperCase();\n        \n        $(\"#loadingimg\").show();\n        \n        $.ajax({\n            url: form_url, \n            type: form_method,      \n            data: form_data,     \n            cache: false,\n            success: function(returnhtml){                          \n                $(\"#result\").html(returnhtml); \n                $(\"#loadingimg\").hide();                    \n            }           \n        });    \n        \n    });\n    \n});","x":410,"y":160,"wires":[["86a690bd.002c4","44f78632.5c3618"]]},{"id":"a81244a1.e736e8","type":"http response","z":"fa5ca912.58e4d8","name":"","x":850,"y":160,"wires":[]},{"id":"b35e72bf.dd5a2","type":"template","z":"fa5ca912.58e4d8","d":true,"name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n  <head>\n    <title>My Site</title>\n    <meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\">\n    <meta charset=\"utf-8\">\n    \n    <style>{{{payload.style}}}</style>\n    \n  </head>\n  \n<body>\n    <link href='https://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>\n<form method=\"post\" action=\"/{{url}}\" ajax=\"true\">\n<div class=\"login\" >\n  <div class=\"login-header\">\n    <h2>Inventory Mangement</h2>\n  </div>\n  <div class=\"login-form\">\n    <h3>Item Name:</h3>\n    <input type=\"text\" placeholder=\"Enter item name\"/><br>\n    <h3>Item Quantity:</h3>\n    <input type=\"text\" placeholder=\"Enter item quantity\"/>\n    <br>\n    <input type=\"submit\" value=\"Submit\" class=\"login-button\"/>\n    <br>\n    \n    \n  </div>\n</div>\n\n</form>\n  </body>\n</html>\n<script>{{{payload.script}}}</script>\n","x":710,"y":160,"wires":[["a81244a1.e736e8"]]},{"id":"b0dd459b.48ada8","type":"function","z":"fa5ca912.58e4d8","name":"return msg.payload to client","func":"msg.payload = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":240,"wires":[["1870674f.d4c1d9"]]},{"id":"50e93691.988c48","type":"json","z":"fa5ca912.58e4d8","name":"","property":"payload","action":"","pretty":false,"x":280,"y":240,"wires":[["b0dd459b.48ada8"]]},{"id":"702b7240.ea613c","type":"debug","z":"fa5ca912.58e4d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":330,"y":300,"wires":[]},{"id":"4a11d70.13e2f28","type":"function","z":"fa5ca912.58e4d8","name":"JSON to msg.payload","func":"msg.payload = {\n    \"_id\" : msg.payload.email,\n    \"ITEM\" : msg.payload.firstname, \n    \"QUANTITY\" : msg.payload.lastname\n}\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":380,"wires":[["45aae702.e74d88"]]},{"id":"45aae702.e74d88","type":"cloudant out","z":"fa5ca912.58e4d8","name":"","cloudant":"","database":"inventory","service":"node-red-owsup-cloudant-1590483831789-25258","payonly":true,"operation":"insert","x":550,"y":400,"wires":[]},{"id":"3effd6ce.80f8ba","type":"template","z":"fa5ca912.58e4d8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <title>post</title>\n        <style>/*\n        a:link, a:visited {\n  \n  color: black; \n  text-align: center;\n text-decoration: none;\n  display: inline-block;\n  transition-duration: 0.4s;\n  cursor: pointer;\n}\n\na:hover, a:active {\n\n  color: black;\n}*/\n        @import url(https://fonts.googleapis.com/css?family=Roboto:700);\nhtml, body{background : #FBC02D; font-family : Roboto; height: 100%; width: 100%; margin: 0;}\n\n#holder{\n  -moz-user-select: -moz-none;\n  -khtml-user-select: none;\n  -webkit-user-select: none;\n  background: white;\n  padding: 10px;\n  width: 250px;\n  margin: 0 auto;\n  position: relative;\n  top: 50%;\n  transform: translateY(-65%);\n  box-shadow: 0px 3px 8px rgba(0,0,0,0.25);\n  border-radius: 2px;\n}\n.button{\n  background: #3D4C53;\n  margin : 20px auto;\n  width : 200px;\n  height : 50px;\n  text-decoration: none;\n  overflow: hidden;\n  text-align : center;\n  transition : .2s;\n  cursor : pointer;\n  border-radius: 3px;\n  box-shadow: 0px 1px 2px rgba(0,0,0,.2);\n}\n.btnTwo {\n  position : relative;\n  width : 200px;\n  height : 100px;\n  margin-top: -100px;\n  padding-top: 2px;\n  background : #26A69A;\n  left : -250px;\n  transition : .3s;\n}\n.btnText {\n  color : white;\n  transition : .3s;\n}\n.btnText2 {\n  margin-top : 63px;\n  margin-right : -130px;\n  color : #FFF;\n}\n.button:hover .btnTwo{ /*When hovering over .button change .btnTwo*/\n  left: -130px;\n}\n.button:hover .btnText{ /*When hovering over .button change .btnText*/\n  margin-left : 65px;\n}\n.button:active { /*Clicked and held*/\n  box-shadow: 0px 5px 6px rgba(0,0,0,0.3);\n}\n\n        \n        </style>\n        </head>\n        <body>\n        \n        <!--<h2 align=\"center\">The data is successfully stored in the inventory.</h2>\n        <h3>If you want to submit a new data, then press \"Add item\". Press \"cancel\" to go to the main page. </h3>\n        <a href=\"https://node-red-owsup.eu-gb.mybluemix.net/mysite\" target=\"_blank\">Add Item</a>\n         <a href=\"https://node-red-owsup.eu-gb.mybluemix.net/med_depart\" target=\"_blank\">Cancel</a>-->\n<br>        \n<h2 align=\"center\">The data is successfully stored in the inventory.</h2>\n<div id=\"holder\">\n\n<div class=\"button\"><a href=\"https://node-red-owsup.eu-gb.mybluemix.net/inventory\" target=\"_blank\">\n    <p class=\"btnText\">Add Item?</p>\n    <div class=\"btnTwo\">\n      <p class=\"btnText2\">GO!</p></a>\n    </div>\n </div>\n\n<div class=\"button\"><a href=\"https://node-red-owsup.eu-gb.mybluemix.net/med_depart\" target=\"_blank\">\n    <p class=\"btnText\">CANCEL</p>\n    <div class=\"btnTwo\">\n      <p class=\"btnText2\">No?</p></a>\n    </div>\n </div>\n\n</div>\n      \n        \n        \n    </body>\n</html>","output":"str","x":850,"y":240,"wires":[["83dbbd41.7a24b"]]},{"id":"1870674f.d4c1d9","type":"http request","z":"fa5ca912.58e4d8","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"https://node-red-owsup.eu-gb.mybluemix.net/mysite","tls":"","persist":false,"proxy":"","authType":"","x":700,"y":240,"wires":[["3effd6ce.80f8ba"]]},{"id":"44f78632.5c3618","type":"template","z":"fa5ca912.58e4d8","d":true,"name":"CSS","field":"payload.style","fieldType":"msg","format":"html","syntax":"mustache","template":"input[type=text], select {\n    width: 100%;\n    padding: 12px 20px;\n    margin: 8px 0;\n    display: inline-block;\n    border: 1px solid #ccc;\n    border-radius: 4px;\n    box-sizing: border-box;\n}\n\ninput[type=submit] {\n    width: 100%;\n    background-color: #4CAF50;\n    color: white;\n    padding: 14px 20px;\n    margin: 8px 0;\n    border: none;\n    border-radius: 4px;\n    cursor: pointer;\n}\n\ninput[type=submit]:hover {\n    background-color: #45a049;\n}\n\ndiv {\n    border-radius: 5px;\n    background-color: #f2f2f2;\n    padding: 20px;\n}\n/*---------------------------------------*/\nbody {\n  background:url('http://cdn.wallpapersafari.com/13/6/Mpsg2b.jpg');\n  margin:0px;\n  font-family: 'Ubuntu', sans-serif;\n\tbackground-size: 100% 110%;\n}\nh1, h2, h3, h4, h5, h6, a {\n  margin:0; padding:0;\n}\n.login {\n  margin:0 auto;\n  max-width:500px;\n}\n.login-header {\n  color:#fff;\n  text-align:center;\n  font-size:300%;\n}\n/* .login-header h1 {\n   text-shadow: 0px 5px 15px #000; */\n}\n.login-form {\n  border:.5px solid #fff;\n  background:#4facff;\n  border-radius:10px;\n  box-shadow:0px 0px 10px #000;\n}\n.login-form h3 {\n  text-align:left;\n  margin-left:40px;\n  color:#fff;\n}\n.login-form {\n  box-sizing:border-box;\n  padding-top:15px;\n\tpadding-bottom:10%;\n  margin:5% auto;\n  text-align:center;\n}\n.login input[type=\"text\"],\n.login input[type=\"text\"] {\n  max-width:400px;\n\twidth: 80%;\n  line-height:3em;\n  font-family: 'Ubuntu', sans-serif;\n  margin:1em 2em;\n  border-radius:5px;\n  border:2px solid #f2f2f2;\n  outline:none;\n  padding-left:10px;\n}\n.login-form input[type=\"button\"] {\n  height:30px;\n  width:100px;\n  background:#fff;\n  border:1px solid #f2f2f2;\n  border-radius:20px;\n  color: slategrey;\n  text-transform:uppercase;\n  font-family: 'Ubuntu', sans-serif;\n  cursor:pointer;\n}\n.sign-up{\n  color:#f2f2f2;\n  margin-left:-70%;\n  cursor:pointer;\n  text-decoration:underline;\n}\n\n/*Media Querie*/\n@media only screen and (min-width : 150px) and (max-width : 530px){\n  .login-form h3 {\n    text-align:center;\n    margin:0;\n  }\n \n  .login-button {\n    margin-bottom:10px;\n  }\n}","x":570,"y":100,"wires":[["163dbae1.b3ace5"]]},{"id":"163dbae1.b3ace5","type":"template","z":"fa5ca912.58e4d8","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n  <head>\n    <title>Inventory</title>\n    <meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\">\n    <meta charset=\"utf-8\">\n    <script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script>\n    <style>{{{payload.style}}}</style>\n  </head>\n  \n  <body>\n    <div class=\"login\">\n        <div class=\"login-header\">\n        <h2>Inventory Mangement</h2>\n    </div>\n    <form method=\"post\" action=\"/{{url}}\" ajax=\"true\">\n      <div class=\"login-form\">\n          <h3>Email:</h3>\n          <input type=\"email\" placeholder=\"Enter email\" id=\"email\" name=\"email\" required/><br>\n          <h3>Item Name:</h3>\n          <input type=\"text\" placeholder=\"Enter item name\" id=\"fname\" name=\"firstname\" required/><br>\n          <h3>Item Quantity:</h3>\n          <input type=\"text\" placeholder=\"Enter item quantity\"  id=\"lname\" name=\"lastname\" required/><br>\n          <input type=\"submit\" value=\"Submit\" class=\"login-button\"/><br>\n      </div>\n    </form>\n  </body>\n</html>\n<script>{{{payload.script}}}</script>","x":710,"y":100,"wires":[["a81244a1.e736e8"]]},{"id":"37793146.3d922e","type":"cloudant in","z":"fa5ca912.58e4d8","name":"","cloudant":"b04f57e6.89fda8","database":"registration_details","service":"node-red-owsup-cloudant-1590483831789-25258","search":"_id_","design":"","index":"","x":230,"y":480,"wires":[["9270efa8.15e69","61e3b28b.d7aefc"]]},{"id":"9270efa8.15e69","type":"function","z":"fa5ca912.58e4d8","name":"","func":"var email = global.get('email')\nmsg.payload = {\n    \"_id\" : msg.payload.email, \n    \"NAME\" : msg.payload.name,\n    \"PHONE NUMBER\" : msg.payload.phno,\n    \"ADDRESS\" : msg.payload.add,\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":480,"wires":[["45aae702.e74d88","3e17897f.74fec6"]]},{"id":"61e3b28b.d7aefc","type":"debug","z":"fa5ca912.58e4d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":400,"y":540,"wires":[]},{"id":"3e17897f.74fec6","type":"debug","z":"fa5ca912.58e4d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":620,"y":520,"wires":[]},{"id":"b04f57e6.89fda8","type":"cloudant","z":"","host":"myaccountname.cloudant.com","name":"My Cloudant account"}]