All_Docs/Flows/Registration_Login.json
[{"id":"a906938f.2e96f","type":"tab","label":"Sign up n Sign in page Cloudant","disabled":false,"info":""},{"id":"e6fda568.db43e8","type":"cloudant out","z":"a906938f.2e96f","name":"","cloudant":"","database":"registration_details","service":"node-red-owsup-cloudant-1590483831789-25258","payonly":true,"operation":"insert","x":890,"y":120,"wires":[]},{"id":"7a29eede.078fa","type":"function","z":"a906938f.2e96f","name":"Naming the value with var ","func":"var type = global.get('type')\nmsg.payload = {\n    \"_id\" : msg.payload.email, \n    \"NAME\" : msg.payload.name,\n    \"PASSWORD\" : msg.payload.pwd,\n    \"PHONE NUMBER\" : msg.payload.phno,\n    \"ADDRESS\" : msg.payload.add,\n    \"TYPE\" : type\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":120,"wires":[["e6fda568.db43e8"]]},{"id":"151ec7bb.489b38","type":"function","z":"a906938f.2e96f","name":"Reg success display","func":"msg.payload = \"Thank You \"+msg.payload.name+\" . Form is successfully submitted.\"\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":180,"wires":[["bf555a5b.837bb8"]]},{"id":"219ade4d.f1b342","type":"cloudant in","z":"a906938f.2e96f","name":"","cloudant":"","database":"registration_details","service":"node-red-owsup-cloudant-1590483831789-25258","search":"_id_","design":"","index":"","x":490,"y":380,"wires":[["622cb07.080ec5","219c3dae.129942"]]},{"id":"fa4ac559.111818","type":"function","z":"a906938f.2e96f","name":"Globalising var","func":"global.set(\"email\", msg.payload.email)\nglobal.set(\"password\", msg.payload.pwd)\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":360,"wires":[["2b3606c1.51ae7a"]]},{"id":"2b3606c1.51ae7a","type":"function","z":"a906938f.2e96f","name":"Info retrieve from _id","func":"var email = global.get('email')\nmsg.payload = {\n    \"_id\" : email\n}\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":300,"wires":[["cf3a5cff.336f9","219ade4d.f1b342"]]},{"id":"622cb07.080ec5","type":"function","z":"a906938f.2e96f","name":"Password check","func":"var pwd = global.get('password')\nif (pwd == msg.payload.PASSWORD)\n    msg.payload=\"Login Successful\"\nelse\n    msg.payload=\"Login Unsuccessful. Try again with correct credentials.\"\nreturn msg;\n","outputs":1,"noerr":0,"x":660,"y":320,"wires":[["6dff6af.74cbf94","304cddbf.696ef2","5c8f101b.0d67f"]]},{"id":"6dff6af.74cbf94","type":"ui_text","z":"a906938f.2e96f","group":"4d37403d.defe4","order":2,"width":0,"height":0,"name":"Login Status","label":"Status:","format":"{{msg.payload}}","layout":"col-center","x":670,"y":460,"wires":[]},{"id":"888d29c4.6d2d08","type":"ui_form","z":"a906938f.2e96f","name":"Registration form","label":"","group":"abc40519.17e258","order":2,"width":0,"height":0,"options":[{"label":"Name","value":"name","type":"text","required":true,"rows":null},{"label":"Email Id","value":"email","type":"email","required":true,"rows":null},{"label":"Password","value":"pwd","type":"password","required":true,"rows":null},{"label":"Phone Number","value":"phno","type":"number","required":true,"rows":null},{"label":"Address","value":"add","type":"text","required":true,"rows":null}],"formValue":{"name":"","email":"","pwd":"","phno":"","add":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":350,"y":80,"wires":[["7a29eede.078fa","151ec7bb.489b38"]]},{"id":"ead73caf.4a4ec","type":"ui_form","z":"a906938f.2e96f","name":"Login form","label":"","group":"4d37403d.defe4","order":1,"width":0,"height":0,"options":[{"label":"Enter Email Id","value":"email","type":"email","required":true,"rows":null},{"label":"Enter Password","value":"pwd","type":"password","required":true,"rows":null}],"formValue":{"email":"","pwd":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":300,"wires":[["fa4ac559.111818"]]},{"id":"cf3a5cff.336f9","type":"function","z":"a906938f.2e96f","name":"Email check","func":"var email = global.get('email')\nif(email==msg.payload._id)\n    msg.payload = \"\"\nelse\n    msg.payload = \"This Email ID is not registered. Try with registered Email Id.\"\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":420,"wires":[["6dff6af.74cbf94"]]},{"id":"bf96b010.8b238","type":"ui_dropdown","z":"a906938f.2e96f","name":"Consumer/Supplier","label":"","tooltip":"","place":"Select type","group":"abc40519.17e258","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"","value":"Consumer","type":"str"},{"label":"","value":"Supplier (with Pharmacy)","type":"str"},{"label":"","value":"Supplier (without Pharmacy)","type":"str"}],"payload":"","topic":"","x":90,"y":120,"wires":[["71a14a96.ba5474"]]},{"id":"bf555a5b.837bb8","type":"ui_text","z":"a906938f.2e96f","group":"abc40519.17e258","order":3,"width":0,"height":0,"name":"Register Status ","label":"Status:","format":"{{msg.payload}}","layout":"col-center","x":880,"y":180,"wires":[]},{"id":"71a14a96.ba5474","type":"function","z":"a906938f.2e96f","name":"Globalize type","func":"global.set('type', msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":200,"wires":[["888d29c4.6d2d08"]]},{"id":"304cddbf.696ef2","type":"function","z":"a906938f.2e96f","name":"","func":"var types = flow.get('Type')\n//msg.payload = type\nif(msg.payload==\"Login Successful\")\n    if (types == \"Consumer\")\n        msg.payload={\"tab\":\"2\"}\n    else if (types == \"Supplier (with Pharmacy)\")\n        msg.payload={\"tab\":\"3\"}\n    else if (types == \"Supplier (without Pharmacy)\")\n        msg.payload={\"tab\":\"4\"}\n    else\n        msg.payload=\"No Page Found\"\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":380,"wires":[["b59a03f.75911","e1acf4a8.aa3218"]]},{"id":"b59a03f.75911","type":"ui_ui_control","z":"a906938f.2e96f","name":"","events":"all","x":980,"y":380,"wires":[[]]},{"id":"e1acf4a8.aa3218","type":"debug","z":"a906938f.2e96f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":990,"y":440,"wires":[]},{"id":"219c3dae.129942","type":"function","z":"a906938f.2e96f","name":"","func":"flow.set('Type', msg.payload.TYPE)\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":380,"wires":[[]]},{"id":"5c8f101b.0d67f","type":"function","z":"a906938f.2e96f","name":"","func":"var abc = flow.get('Type')\nmsg.payload = abc\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":320,"wires":[[]]},{"id":"b8c937c8.fade08","type":"ui_template","z":"a906938f.2e96f","group":"2e9f7dbd.5f4742","name":"","order":1,"width":0,"height":0,"format":"<h1 align=\"center\">Consumer Page </h1>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1120,"y":680,"wires":[[]]},{"id":"f770892c.c1d2c8","type":"ui_template","z":"a906938f.2e96f","group":"fa0e6210.9d42a","name":"","order":1,"width":0,"height":0,"format":"<h1 align=\"center\">Supplier without Pharmacy</h1>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1120,"y":720,"wires":[[]]},{"id":"f8977b6e.652d58","type":"ui_template","z":"a906938f.2e96f","group":"69a5998c.4c6458","name":"","order":1,"width":0,"height":0,"format":"<h1 align=\"center\">Supplier with pharmacy Page</h1>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1120,"y":640,"wires":[["c65533a7.39351"]]},{"id":"51ea858c.2a122c","type":"inject","z":"a906938f.2e96f","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":920,"y":640,"wires":[["f8977b6e.652d58"]]},{"id":"de6381e.b7a3c8","type":"inject","z":"a906938f.2e96f","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":920,"y":680,"wires":[["b8c937c8.fade08"]]},{"id":"c97fcb2b.1d31a8","type":"inject","z":"a906938f.2e96f","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":920,"y":720,"wires":[["f770892c.c1d2c8"]]},{"id":"c65533a7.39351","type":"template","z":"a906938f.2e96f","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <h1>Hello</h1>\n    </head>\n    <body>\n        <h1>Supplier with pharmacy Page</h1>\n    </body>\n</html>","output":"str","x":1300,"y":640,"wires":[[]]},{"id":"4d37403d.defe4","type":"ui_group","z":"","name":"Login Form","tab":"9ab05dc8.fb88e","order":1,"disp":true,"width":8,"collapse":false},{"id":"abc40519.17e258","type":"ui_group","z":"","name":"Registration form","tab":"fd2304d6.8acb68","order":2,"disp":true,"width":8,"collapse":false},{"id":"2e9f7dbd.5f4742","type":"ui_group","z":"","name":"Page1","tab":"10b84cc7.89c3b3","order":1,"disp":false,"width":"30","collapse":false},{"id":"fa0e6210.9d42a","type":"ui_group","z":"","name":"Page 3","tab":"267e2252.a36d3e","order":1,"disp":false,"width":30,"collapse":false},{"id":"69a5998c.4c6458","type":"ui_group","z":"","name":"Page 2","tab":"2d8fe271.02063e","order":1,"disp":false,"width":30,"collapse":false},{"id":"9ab05dc8.fb88e","type":"ui_tab","z":"","name":"Login","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"fd2304d6.8acb68","type":"ui_tab","z":"","name":"Registration","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"10b84cc7.89c3b3","type":"ui_tab","z":"","name":"Consumer","icon":"dashboard","order":3,"disabled":false,"hidden":true},{"id":"267e2252.a36d3e","type":"ui_tab","z":"","name":"Supplier (without Pharmacy)","icon":"dashboard","order":5,"disabled":false,"hidden":true},{"id":"2d8fe271.02063e","type":"ui_tab","z":"","name":"Supplier (with Pharmacy)","icon":"dashboard","order":4,"disabled":false,"hidden":true}]