All_Docs/Flows/Upload_SeeMed.json
[{"id":"1129a55b.8576eb","type":"tab","label":"camera_2","disabled":false,"info":""},{"id":"d333c1a8.4dcdc","type":"http in","z":"1129a55b.8576eb","name":"","url":"/upload","method":"get","upload":false,"swaggerDoc":"","x":130,"y":100,"wires":[["4ee619fb.7a0f08"]]},{"id":"4ee619fb.7a0f08","type":"template","z":"1129a55b.8576eb","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n    <title>Select File</title>\n    <script type=\"text/javascript\">\n                function fileSelected() {\n                    var count = document.getElementById('fileToUpload').files.length;\n                          document.getElementById('details').innerHTML = \"\";\n                          for (var index = 0; index < count; index ++)\n                          {\n                                 var file = document.getElementById('fileToUpload').files[index];\n                                 var fileSize = 0;\n                                 if (file.size > 1024 * 1024)\n                                        fileSize = (Math.round(file.size * 100 / (1024 * 1024)) / 100).toString() + 'MB';\n                                 else\n                                        fileSize = (Math.round(file.size * 100 / 1024) / 100).toString() + 'KB';\n                                 document.getElementById('details').innerHTML += 'Name: ' + file.name + '<br>Size: ' + fileSize + '<br>Type: ' + file.type;\n                                 document.getElementById('details').innerHTML += '<p>';\n                          }\n                  }\n    </script>\n      <style>\n                body {\n                    background-image: url(\"https://user-images.githubusercontent.com/55740292/87422108-aab6fd80-c5f5-11ea-8cb4-8163f2ed24e4.jpg\");\n                  <!--background: linear-gradient(to top right, #fc7279 30%, #ff7b9c 60%, #ffc019 125%);-->\n                  height: 200%;\n                  font-family: 'Roboto', sans-serif;\n                  font-size: 1.4em;\n                  color: #4D4D50;\n                 \n                }\n                .form {\n                  position: relative;\n                  z-index: 1;\n                  background: #FFFFFF;\n                  max-width: 360px;\n                  margin: 0 auto 100px;\n                  padding: 45px;\n                  text-align: center;\n                  color: black;\n                  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);\n                }  \n                \n                h1{\n                    text-align:center;\n                    color:black;\n                    font-size:60px;\n                }\n                \n                    input{\n                      background: 0;\n                      width: 200px;\n                      outline: 0;\n                      border: 0;\n                      border-bottom: 2px solid rgba(255,255,255, 0.3);\n                      margin: 20px 0;\n                      padding-bottom: 10px;\n                      font-size: 18px;\n                      font-weight: bold;\n                      color: black;\n                    }\n                    input[type=\"submit\"]{\n                      border: 0;\n                      border-radius: 8px;\n                      padding-bottom: 0;\n                      height: 60px;\n                      background: #df2359;\n                      color: white;\n                      cursor: pointer;\n                      transition: all 600ms ease-in-out;\n                    }\n                    input[type=\"submit\"]:hover{\n                      background: #C0392B;\n                    }\n\n\n        </style>\n      </head>\n<body>\n\n\n<div class = \"form\">\n    \n<form action=\"/uploadsimple_post\" method=\"POST\" enctype=\"multipart/form-data\">\n    <h1>Medical Department</h1>\n <label for=\"fileToUpload\" font-size:\"15px\">Upload the prescription by clicking the following button and then submit it.</label> <br><br>\n  -----------------------------------------------<br>\n  <input id=\"fileToUpload\" color=\"black\" type=\"file\" name=\"fileToUpload\" onchange=\"fileSelected();\"  required >\n  \n  <br>\n   \n  <input type=\"submit\" value=\"SUBMIT\" name=\"submit\" id=\"submit\"><br>\n  -----------------------------------------------\n</form>\n</div>\n\n\n</body>\n</html>\n<script>{{{payload.script}}}</script>","output":"str","x":310,"y":100,"wires":[["f4e8526.26d88b"]]},{"id":"f4e8526.26d88b","type":"http response","z":"1129a55b.8576eb","name":"","x":470,"y":100,"wires":[]},{"id":"942a47ab.71ccf8","type":"template","z":"1129a55b.8576eb","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n<head>\n    <style>\n        body{\n            background-image:url(\"https://user-images.githubusercontent.com/55740292/87423725-62e5a580-c5f8-11ea-8a32-711ef59978b9.jpg\");\n            text-align:center;\n        }\n    </style>\n</head>\n<body>\n    <p font-size=\"25 px\">File {{originalname}} uploaded !</p>\n\n<h1>Contents:</h1>\n\n<pre>\n{{{payload}}}\n</pre>\n<h2>Are you sure, you wanna upload this?</h2>\n<input type=\"button\" onclick=\"location.href='https://node-red-owsup.eu-gb.mybluemix.net/upload';\" value=\"No, upload again\" />\n<form method=\"POST\" action=\"yes\">\n    <input type=\"submit\" value=\"Yes\" />\n</form>\n</body>\n</html>","output":"str","x":780,"y":220,"wires":[["9d84997.1afb768"]]},{"id":"545fe99f.226d18","type":"function","z":"1129a55b.8576eb","name":"Covert to link","func":"if (msg.req.files[0].mimetype.includes('image')) {\n    msg.payload = `<img src=\"data:image/gif;base64,${msg.payload.toString('base64')}\">`;\n} \nelse if (msg.req.files[0].mimetype.includes('pdf')) {\n    msg.payload = `<embed width=\"700px\" height=\"700px\" src=\"data:application/pdf;base64,${msg.payload.toString('base64')}\">`;\n        \n    // msg.payload = `\"Content-Type: application/pdf ${msg.payload}\"`;\n}\nelse {\n    msg.payload = msg.payload.toString();\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":220,"wires":[["942a47ab.71ccf8","c145a951.5348d8"]]},{"id":"9695a8ae.2a37b8","type":"http in","z":"1129a55b.8576eb","name":"","url":"/uploadsimple_post","method":"post","upload":true,"swaggerDoc":"","x":170,"y":220,"wires":[["8174f2f.adac11","d842310b.017de"]]},{"id":"9d84997.1afb768","type":"http response","z":"1129a55b.8576eb","name":"","statusCode":"","headers":{},"x":910,"y":220,"wires":[]},{"id":"8174f2f.adac11","type":"change","z":"1129a55b.8576eb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"req.files[0].buffer","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":220,"wires":[["545fe99f.226d18"]]},{"id":"5539b0aa.98343","type":"http in","z":"1129a55b.8576eb","name":"","url":"/yes","method":"post","upload":true,"swaggerDoc":"","x":110,"y":280,"wires":[["6ced9dc3.bfc834"]]},{"id":"d842310b.017de","type":"function","z":"1129a55b.8576eb","name":"Set doc","func":"flow.set(\"doc\",msg.req.files[0])\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":180,"wires":[[]]},{"id":"6ced9dc3.bfc834","type":"function","z":"1129a55b.8576eb","name":"Get doc","func":"msg.rk = flow.get('doc')\nmsg.rk.main = flow.get('main')\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":280,"wires":[["53efd583.bfcfdc"]]},{"id":"fe8bde94.49c44","type":"cloudant out","z":"1129a55b.8576eb","name":"","cloudant":"9e7927b7.6327f8","database":"prescriptions","service":"node-red-owsup-cloudant-1590483831789-25258","payonly":true,"operation":"insert","x":430,"y":340,"wires":[]},{"id":"53efd583.bfcfdc","type":"function","z":"1129a55b.8576eb","name":"Save to db","func":"msg.payload = msg.rk\n// msg.payload._id = msg.rk.originalname\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":280,"wires":[["fe8bde94.49c44","bc56fe2e.8f2e"]]},{"id":"f89cbcab.f9257","type":"cloudant in","z":"1129a55b.8576eb","name":"See all docs","cloudant":"9e7927b7.6327f8","database":"prescriptions","service":"node-red-owsup-cloudant-1590483831789-25258","search":"_all_","design":"","index":"","x":350,"y":400,"wires":[["6ced4ce6.b33154"]]},{"id":"bc56fe2e.8f2e","type":"template","z":"1129a55b.8576eb","name":"Redirect","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n  <head>\n    <meta http-equiv=\"refresh\" content=\"3; url='https://node-red-owsup.eu-gb.mybluemix.net/ui'\" />\n  </head>\n  <body>\n    <h1>Redirecting to main page</h1>\n  </body>\n</html>","output":"str","x":600,"y":280,"wires":[["ffa52f76.defa4"]]},{"id":"ffa52f76.defa4","type":"http response","z":"1129a55b.8576eb","name":"","statusCode":"","headers":{},"x":740,"y":280,"wires":[]},{"id":"b7773fe9.5227a","type":"http in","z":"1129a55b.8576eb","name":"","url":"/seeallmed","method":"get","upload":false,"swaggerDoc":"","x":150,"y":400,"wires":[["f89cbcab.f9257"]]},{"id":"deb8e52c.f6eaf8","type":"http response","z":"1129a55b.8576eb","name":"List of documents","x":990,"y":400,"wires":[]},{"id":"c145a951.5348d8","type":"function","z":"1129a55b.8576eb","name":"Set url","func":"flow.set(\"main\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":180,"wires":[[]]},{"id":"6ced4ce6.b33154","type":"function","z":"1129a55b.8576eb","name":"For loop to dispay all docs","func":"msg.rk=[];msg.text=[]\nfor(var i=0;i<msg.payload.length;i++){\n    msg.rk[i] = msg.payload[i].main  \n    msg.text[i] = msg.payload[i].originalname\n    \n    msg.payload[i] =\"<br>\" + msg.text[i] + \"<br>\" + msg.rk[i] + \"<br><br><br>\" \n    \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":400,"wires":[["ddee4ce0.b010e"]]},{"id":"ddee4ce0.b010e","type":"template","z":"1129a55b.8576eb","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    \n    <title>Medical Prescriptions</title>\n    <head>\n<style>\n    body{\n        background-image: url(\"https://user-images.githubusercontent.com/55740292/87507438-041d3c00-c68b-11ea-8da4-5fa46833b44b.jpg\");\n    }\n</style>\n</head>\n<body >\n<h1>Below are some requests</h1>\n{{{payload}}}\n</body>\n</html>","output":"str","x":760,"y":400,"wires":[["deb8e52c.f6eaf8"]]},{"id":"4e96cdff.dc93c4","type":"http in","z":"1129a55b.8576eb","name":"","url":"/uploadcam","method":"post","upload":true,"swaggerDoc":"","x":160,"y":460,"wires":[["739b57c2.53a388"]]},{"id":"739b57c2.53a388","type":"http response","z":"1129a55b.8576eb","name":"","statusCode":"","headers":{},"x":330,"y":460,"wires":[]},{"id":"951f4d50.90749","type":"http in","z":"1129a55b.8576eb","name":"","url":"/cam","method":"get","upload":false,"swaggerDoc":"","x":140,"y":580,"wires":[["5858eb7e.60ac24"]]},{"id":"5858eb7e.60ac24","type":"template","z":"1129a55b.8576eb","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n    <meta charset='utf-8'>\n    <meta http-equiv='X-UA-Compatible' content='IE=edge'>\n    <title>Take Photo</title>\n    <meta name='viewport' content='width=device-width, initial-scale=1'>\n    <!--<link rel=\"icon\" href=\"data:;base64,iVBORw0KGgo=\">-->\n    <link rel=\"stylesheet\" href=\"https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css\">\n    <link href=\"https://fonts.googleapis.com/icon?family=Material+Icons\" rel=\"stylesheet\">\n    <script src=\"//code.jquery.com/jquery-3.3.1.min.js\"></script>  \n    <script type=\"text/javascript\" src=\"https://cdn.jsdelivr.net/gh/rishabh-karmakar/webcam-easy@master/webcam-easy-k.js\"></script>\n    <script src=\"https://unpkg.com/jspdf@latest/dist/jspdf.min.js\"></script>\n    <script src='https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.59/pdfmake.min.js'></script>\n  <script src='https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.59/vfs_fonts.js'></script>\n    <style>\n        #webcam-app {\n  background-image: url('https://github.com/rishabh-karmakar/webcam-easy/blob/master/demo/images/background.jpg');\n  background-position: center center;\n  background-repeat: no-repeat;\n  background-size: cover;\n  background-color: black;\n  width: 100vw;\n  height: 100vh;\n}\n\n.webcam-container{\n    height: 100vh;\n    width: 100vw;\n    background-color: black;\n}\n\n#background-container {\n    height: 100vh;\n    width: 100vw;\n}\n\n@media screen and (min-width: 768px) {\n    .webcam-container {\n        background-attachment: fixed;\n    }\n }\n\n.form-control.webcam-start{\n    position: relative;\n    background: black;\n    opacity: 0.8;\n    padding: 10px 20px;\n    border: none;\n    color: white;\n    text-shadow: 1px 1px #000;\n    font-size: 1.2rem;\n    width: 350px;\n    height: 55px;\n    z-index: 9999;\n    top: 45%;\n    left: 0;\n    right: 0;\n    margin: auto;\n}\n\n.form-control.webcam-on {\n  position: fixed;\n  top: 10vh;\n  bottom: auto;\n  left: 0px;\n  right: auto;\n  transition: all 100ms;\n  width: 145px!important;\n}\n.form-control.webcam-off {\n    transition: all 100ms;\n}\n  \n\n  .form-switch {\n    display: inline-block;\n    cursor: pointer;\n    -webkit-tap-highlight-color: transparent;\n  }\n  \n  .form-switch i {\n    position: relative;\n    display: inline-block;\n    margin-right: .5rem;\n    width: 60px;\n    height: 30px;\n    background-color: #e6e6e6;\n    border-radius: 25px;\n    vertical-align: text-bottom;\n    transition: all 0.3s linear;\n  }\n  \n  .form-switch i::before {\n    content: \"\";\n    position: absolute;\n    left: 0;\n    width: 56px;\n    height: 25px;\n    background-color: #fff;\n    border-radius: 15px;\n    transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);\n    transition: all 0.25s linear;\n  }\n  \n  .form-switch i::after {\n    content: \"\";\n    position: absolute;\n    left: 0;\n    width: 26px;\n    height: 26px;\n    background-color: #fff;\n    border: 1px solid grey;\n    border-radius: 15px;\n    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);\n    transform: translate3d(2px, 2px, 0);\n    transition: all 0.2s ease-in-out;\n  }\n  \n  .form-switch:active i::after {\n    width: 60px;\n    transform: translate3d(2px, 2px, 0);\n  }\n  \n  .form-switch:active input:checked + i::after { transform: translate3d(16px, 2px, 0); }\n  \n  .form-switch input { display: none; }\n  \n  .form-switch input:checked + i { background-color: #4BD763; }\n  \n  .form-switch input:checked + i::before { transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0); }\n  \n  .form-switch input:checked + i::after { transform: translate3d(30px, 2px, 0); }\n\n  .form-switch input:disabled + i { background-color: #eeeeee; cursor: not-allowed; }\n\n  .form-switch input:disabled + i::after {\n    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.10);\n  }\n\n\n  .app-panel{\n    height: 100vh;\n    width: 100vw;\n    text-align: center;\n    background-color: black;\n  }\n\n  #webcam{\n    display: block;\n    position: relative;\n    width: auto;\n    height: 100vh;\n    z-index: 999;\n    pointer-events: none;\n    margin: auto;\n  }\n\n  .md-modal {\n    margin: auto;\n      position: fixed;\n      top: 0;\n      left: 0;\n      right: 0;\n      width: 100vw;\n      height: 100vh;\n      z-index: 2000;\n      visibility: hidden;\n      -webkit-backface-visibility: hidden;\n      -moz-backface-visibility: hidden;\n      backface-visibility: hidden;\n  }\n  \n  .md-show {\n      visibility: visible;\n  }\n  \n  .md-overlay {\n      position: fixed;\n      width: 100%;\n      height: 100%;\n      visibility: hidden;\n      top: 0;\n      left: 0;\n      z-index: 1000;\n      opacity: 0;\n      background: rgba(#e4f0e3, 0.8);\n      -webkit-transition: all 0.3s;\n      -moz-transition: all 0.3s;\n      transition: all 0.3s;\n  }\n  \n  .md-show ~ .md-overlay {\n      opacity: 1;\n      visibility: visible;\n  }\n  \n  .md-effect-12 .md-content {\n      -webkit-transform: scale(0.8);\n      -moz-transform: scale(0.8);\n      -ms-transform: scale(0.8);\n      transform: scale(0.8);\n      opacity: 0;\n      -webkit-transition: all 0.3s;\n      -moz-transition: all 0.3s;\n      transition: all 0.3s;\n  }\n  \n  .md-show.md-effect-12 ~ .md-overlay {\n      background-color: #e4f0e3;\n  } \n  \n  .md-effect-12 .md-content h3,\n  .md-effect-12 .md-content {\n      background: transparent;\n  }\n  \n  .md-show.md-effect-12 .md-content {\n      -webkit-transform: scale(1);\n      -moz-transform: scale(1);\n      -ms-transform: scale(1);\n      transform: scale(1);\n      opacity: 1;\n  }\n\n #errorMsg {\n     position: fixed;\n     top: 22vh;\n     left: 0;\n     padding: 20px;\n     z-index: 999999;\n }\n\n @media screen and (min-width: 768px) {\n    #errorMsg {\n        position: fixed;\n        top: 32vh;\n        left: 20vw;\n        padding: 20px;\n        z-index: 999999;\n    }\n }\n\n #cameraFlip {\n  width: 70px;\n    height: 55px;\n    margin-left: 40px;\n    margin-top: -10px;\n    position: absolute;\n    cursor: pointer;\n    background-color: black;\n    background-position: center center;\n    background-repeat: no-repeat;\n    background-image: url('https://github.com/rishabh-karmakar/webcam-easy/blob/master/demo/images/camera_flip_white.png');\n    background-size: cover;\n}\n\n.cameraControls {\n  position: absolute;\n  bottom: 10vh;\n  width: 100%;\n  z-index: 99999;\n  background: transparent;\n  opacity: 0.7;\n  padding: 10px;\n}\n\n\n.material-icons{\n  width: 100px;\n  font-size: 50px !important;\n  color: white;\n  width: 80px;\n  height: 80px;\n  background-color: black;\n  border-radius: 50%;\n  padding-top: 15px;\n  margin: 0 10px;\n}\n\n.flash{ \n  position:fixed; \n  top:0;\n  left:0;\n  width:100%;\n  height:100%;\n  background-color:#fff;\n  z-index: 999999;\n}\n\n#canvas{\n  background-color: transparent;\n  position: absolute;\n  width: auto;\n  height: 100vh;\n  z-index: 9999;\n  margin: auto;\n  top: 0;\n  left: 0;\n  right: 0;\n  margin-left: auto;\n  margin-right: auto;\n}\n\n@media screen and (max-width: 420px) {\n  .form-control.webcam-start{\n    width: 300px;\n  }\n}\n\n@media screen and (max-width: 767px) {\n  .cameraControls {\n    bottom: 25vh;\n  }\n}\n\n@media screen and (min-width: 420px) and (max-width: 767px) {\n  .form-control.webcam-on {\n    top: 17vh;\n    left: 0;\n  }\n}\n\n@media screen and (min-width: 1024px) {\n  .form-control.webcam-on {\n    top: 16vh;\n    left: 8vw;\n  }\n}\n\n    </style>\n    \n    \n\n</head>\n<body>\n    <main id=\"webcam-app\">\n        <div class=\"form-control webcam-start\" id=\"webcam-control\">\n                <label class=\"form-switch\">\n                <input type=\"checkbox\" id=\"webcam-switch\">\n                <i></i> \n                <span id=\"webcam-caption\">Click to Start Camera</span>\n                </label>      \n                <button id=\"cameraFlip\" class=\"btn d-none\"></button>                  \n        </div>\n        \n        <div id=\"errorMsg\" class=\"col-12 col-md-6 alert-danger d-none\">\n            Fail to start camera, please allow permision to access camera. <br/>\n            If you are browsing through social media built in browsers, you would need to open the page in Sarafi (iPhone)/ Chrome (Android)\n            <button id=\"closeError\" class=\"btn btn-primary ml-3\">OK</button>\n        </div>\n        <div class=\"md-modal md-effect-12\">\n            <div id=\"app-panel\" class=\"app-panel md-content row p-0 m-0\">     \n                <div id=\"webcam-container\" class=\"webcam-container col-12 d-none p-0 m-0\">\n                    <video id=\"webcam\" autoplay playsinline width=\"640\" height=\"480\"></video>\n                    <canvas id=\"canvas\" class=\"d-none\"></canvas>\n                    <div class=\"flash\"></div>\n                    <audio id=\"snapSound\" src=\"https://github.com/rishabh-karmakar/webcam-easy/blob/master/demo/audio/snap.wav\" preload = \"auto\"></audio>\n                </div>\n                <div id=\"cameraControls\" class=\"cameraControls\">\n                    <a href=\"#\" id=\"exit-app\" title=\"Exit App\" class=\"d-none\"><i class=\"material-icons\">exit_to_app</i></a>\n                    <a href=\"#\" id=\"take-photo\" title=\"Take Photo\"><i class=\"material-icons\">camera_alt</i></a>\n                    <a href=\"https://node-red-nnyrs.mybluemix.net/uploadcam\" id=\"download-photo\" download = \"selfie.png\" target=\"_blank\" title=\"Save Photo\" class=\"d-none\"><i class=\"material-icons\">check_box</i></a>  \n                    <a href=\"#\" id=\"resume-camera\"  title=\"Resume Camera\" class=\"d-none\"><i class=\"material-icons\">camera_front</i></a>\n                </div>\n            </div>        \n        </div>\n        <div class=\"md-overlay\"></div>\n    </main>\n    <script>\n    const webcamElement = document.getElementById('webcam');\n\nconst canvasElement = document.getElementById('canvas');\n\nconst snapSoundElement = document.getElementById('snapSound');\n\nconst webcam = new Webcam(webcamElement, 'user', canvasElement, snapSoundElement);\n\n// var xhr = new XMLHttpRequest();\n// xhr.open(\"POST\", yourUrl, true);\n// xhr.setRequestHeader('Content-Type', 'application/json');\n// xhr.send(JSON.stringify({\n//     value: value\n// }));\n$(\"#download-photo\").click(function(event){\n  event.preventDefault(); // don't \"execute\" the link\n    // let picture = webcam.snap();\n  var $form = $(\"<form action='/uploadcam' method='post' enctype='multipart/form-data' target='_blank'>\" +\n    // \"<input type='file' name='fileToUpload' id='fileToUpload' value = onchange=\"fileSelected();\"/>\n    \"<input type='hidden' name = 'fileToUpload' value='<img src = \"+_image+\"' />\" +\n    \"<input type='submit' />\" + \n    \"</form>\").appendTo($('body'));\n\n  $form.submit();\n});\n\n\n// window.onload=function() {\n//   document.getElementById(\"download-photo\").onclick=function() {\n//      var myForm = document.createElement(\"form\");\n//      alert(1)\n//      myForm.action=\"/uploadcam\";// the href of the link\n//      myForm.enctype='multipart/form-data';\n//      alert(2)\n//      myForm.target='_blank';\n//      myForm.method=\"POST\";\n//      alert(5)\n//      myForm.submit();\n//      alert(4)\n//      return false; // cancel the actual link\n//   }\n//  }\n\n$(\"#webcam-switch\").change(function () {\n    if(this.checked){\n        $('.md-modal').addClass('md-show');\n        webcam.start()\n            .then(result =>{\n               cameraStarted();\n               console.log(\"webcam started\");\n            })\n            .catch(err => {\n                displayError();\n            });\n    }\n    else {        \n        cameraStopped();\n        webcam.stop();\n        console.log(\"webcam stopped\");\n    }        \n});\n\n$('#cameraFlip').click(function() {\n    webcam.flip();\n    webcam.start();  \n});\n\n$('#closeError').click(function() {\n    $(\"#webcam-switch\").prop('checked', false).change();\n});\n\nfunction displayError(err = ''){\n    if(err!=''){\n        $(\"#errorMsg\").html(err);\n    }\n    $(\"#errorMsg\").removeClass(\"d-none\");\n}\n\nfunction cameraStarted(){\n    $(\"#errorMsg\").addClass(\"d-none\");\n    $('.flash').hide();\n    $(\"#webcam-caption\").html(\"on\");\n    $(\"#webcam-control\").removeClass(\"webcam-off\");\n    $(\"#webcam-control\").addClass(\"webcam-on\");\n    $(\".webcam-container\").removeClass(\"d-none\");\n    if( webcam.webcamList.length > 1){\n        $(\"#cameraFlip\").removeClass('d-none');\n    }\n    $(\"#wpfront-scroll-top-container\").addClass(\"d-none\");\n    window.scrollTo(0, 0); \n    $('body').css('overflow-y','hidden');\n}\n\nfunction cameraStopped(){\n    $(\"#errorMsg\").addClass(\"d-none\");\n    $(\"#wpfront-scroll-top-container\").removeClass(\"d-none\");\n    $(\"#webcam-control\").removeClass(\"webcam-on\");\n    $(\"#webcam-control\").addClass(\"webcam-off\");\n    $(\"#cameraFlip\").addClass('d-none');\n    $(\".webcam-container\").addClass(\"d-none\");\n    $(\"#webcam-caption\").html(\"Click to Start Camera\");\n    $('.md-modal').removeClass('md-show');\n}\n\n\n$(\"#take-photo\").click(function () {\n    beforeTakePhoto();\n    let picture = webcam.snap();\n    window._image = picture;\n    alert(_image);\n    document.querySelector('#download-photo').href = picture;\n    afterTakePhoto();\n});\n\nfunction beforeTakePhoto(){\n    $('.flash')\n        .show() \n        .animate({opacity: 0.3}, 500) \n        .fadeOut(500)\n        .css({'opacity': 0.7});\n    window.scrollTo(0, 0); \n    $('#webcam-control').addClass('d-none');\n    $('#cameraControls').addClass('d-none');\n}\n\nfunction afterTakePhoto(){\n    webcam.stop();\n    \n    $('#canvas').removeClass('d-none');\n    $('#take-photo').addClass('d-none');\n    $('#exit-app').removeClass('d-none');\n    $('#download-photo').removeClass('d-none');\n    $('#resume-camera').removeClass('d-none');\n    $('#cameraControls').removeClass('d-none');\n}\n\nfunction removeCapture(){\n    $('#canvas').addClass('d-none');\n    $('#webcam-control').removeClass('d-none');\n    $('#cameraControls').removeClass('d-none');\n    $('#take-photo').removeClass('d-none');\n    $('#exit-app').addClass('d-none');\n    $('#download-photo').addClass('d-none');\n    $('#resume-camera').addClass('d-none');\n}\n\n$(\"#resume-camera\").click(function () {\n    webcam.stream()\n        .then(facingMode =>{\n            removeCapture();\n        });\n});\n\n$(\"#exit-app\").click(function () {\n    removeCapture();\n    $(\"#webcam-switch\").prop(\"checked\", false).change();\n});\n</script>\n\n</body>\n</html>","output":"str","x":320,"y":580,"wires":[["8417f093.1c482"]]},{"id":"8417f093.1c482","type":"http response","z":"1129a55b.8576eb","name":"","statusCode":"","headers":{},"x":500,"y":580,"wires":[]},{"id":"558ac314.35e32c","type":"ui_button","z":"1129a55b.8576eb","name":"","group":"6792b9d2.1d66a8","order":0,"width":0,"height":0,"passthru":false,"label":"<a href = \"https://node-red-nnyrs.mybluemix.net/cam\">Take Photo</a>","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":910,"y":500,"wires":[[]]},{"id":"69261372.0d6a3c","type":"ui_button","z":"1129a55b.8576eb","name":"","group":"6792b9d2.1d66a8","order":1,"width":0,"height":0,"passthru":false,"label":"<a href = \"https://node-red-nnyrs.mybluemix.net/upload\">File Upload</a>","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":920,"y":560,"wires":[[]]},{"id":"9e7927b7.6327f8","type":"cloudant","z":"","host":"myaccountname.cloudant.com","name":"My Cloudant account"},{"id":"6792b9d2.1d66a8","type":"ui_group","z":"","name":"Presciption Upload","tab":"60b1fb33.538174","order":1,"disp":true,"width":"6","collapse":false},{"id":"60b1fb33.538174","type":"ui_tab","z":"","name":"Medical","icon":"dashboard","disabled":false,"hidden":false}]